.headline {
	padding-top: 50px;
}
.sub-headline {
	padding-top: 75px;
}
body {
	background-image: url("background.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
li{
	border: 1px solid;
	border-radius: 4px;
	background: white;
	margin: 4px;
	padding: 2px;
}
.fake-button{
	background-color: gray;
}
.timestamp{
	font-size: 8px;
}
.show {
	display: block;
}
.hide {
	display: none;
}
